<!-- <app-dashboard></app-dashboard> -->

<!-- <div fxFlexFill fxLayout="column">
    <app-card></app-card>
  <div fxLayout="column" fxFlex>
    <div fxFlex style="margin: 1%">
        <app-card></app-card>
        <app-card></app-card>
    </div>
  </div>
</div> -->
<div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <div fxFlex="20" style="border: 2px solid red" fxFlex.xs="55" fxFlexOffset="20px">
      <app-card></app-card>
    </div>
    <div class="section" fxFlex="20" fxFlex.xs="55">
      <app-card></app-card>
    </div>
    <div class="section" fxFlex="20" fxFlex.xs="55">
      <app-card></app-card>
    </div>
    <div class="section" fxFlex="20" fxFlex.xs="55">
      <app-card></app-card>
    </div>
    <div class="section" fxFlex="20" fxFlex.xs="55">
      <app-card></app-card>
    </div>
    <div class="section" fxFlex="20" fxFlex.xs="55">
      <app-card></app-card>
    </div>
  </div>
</div>